.container {
  background-image: url("../assets/bg1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.input {
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
}

.button {
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(to right, #00c9b9 0%, #00338f 100%);
  border: none;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}
